body{
    background-color: rgb(160, 160, 163);
    text-align: justify;
}
h1{
    color: rgb(13, 4, 143);
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
    padding: 10px;
}
#css{
    float: right;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
}

h2{
    color: rgb(6, 9, 145);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid rgb(3, 34, 136);
}

p{
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
}

#link{
    float: left;
    height: 300px;
    width: 200px;
}

#print{
    float: center;
    height: 90%;
    width: 80%;
    border: rgb(255, 255, 255);
}

mark{
    color: lightblue;
    background-color: darkblue;
}