html{
    font-size: 12px;
    font-family: Quicksand;
    background-color: lightblue;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: azure;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
    color: lightskyblue;
    text-shadow: 3px 3px 6px black;
}

img{
    display: block;
    margin: 0 auto;
}
  
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color : black
}

